@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: #010002;
  background-image: url("../_img/fondo.jpg");
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.col {
  margin-top: 20px;
}

ul {
  margin-top: 1em;
}

.row {
  max-width: 900px;
}

.logo {
  max-width: 20%;
  margin-right: 3em;
}

.logo img {
  min-width: 4em;
  max-width: 4em;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #140722d3;
  justify-content: center;
  padding-bottom: 2rem;
}

.nav-uls {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  justify-content: flex-start;
  align-self: flex-end;
  min-width: 80%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}

.navbar-nav li {
  margin-left: 0.5em;
}

nav button {
  background-color: rgba(196, 4, 255, 0.651);
}

.buscar {
  width: 50%;
}

.input-group {
  display: flex;
  justify-content: center;
}

.form-control {
  background-color: #b313ab;
  border: 1px solid #2260db;
  color: #2260db;
  height: 42px;
}

.form-control::-webkit-input-placeholder {
  color: #4e0058;
  height: 42px;
}

.form-control:-ms-input-placeholder {
  color: #4e0058;
  height: 42px;
}

.form-control::-ms-input-placeholder {
  color: #4e0058;
  height: 42px;
}

.form-control::placeholder {
  color: #4e0058;
  height: 42px;
}

.form-control:hover {
  background-color: #4e0058;
  border: 1px solid #2260db;
  height: 42px;
}

.form-control:active {
  background-color: #8e03a0;
  border: 1px solid #2260db;
  height: 42px;
}

.form-control:focus {
  background-color: #8e03a0;
  border: 1px solid #2260db;
  height: 42px;
}

#search-addon {
  margin-left: 5%;
  height: 42px;
  background-color: transparent;
}

a:hover {
  color: #9200f3;
}

#btnBuscar {
  color: #b313ab;
  border-color: #2260db;
}

#btnBuscar:hover {
  color: #4e0058;
  background-color: #2260db;
}

.btnPlataforma {
  width: 100%;
}

.container-fluid {
  filter: blur(2px);
}

#infoPelicula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px;
}

.lighter-text {
  color: #abb0be;
}

.main-color-text {
  color: #2260db;
}

.containerCart {
  position: relative;
  right: 50px;
}

.badge {
  background-color: #b313ab;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  display: none;
  margin: 55px 0;
  right: 5em;
  background: white;
  width: 320px;
  position: fixed;
  z-index: 3;
  border-radius: 3px;
  padding: 1em;
  top: 2.5em;
}

.shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}
.shopping-cart-total {
  float: right;
}

.shopping-cart-items {
  padding-top: 5px;
}

.shopping-cart-items li {
  margin-left: -10px;
  margin-bottom: 18px;
  list-style: none;
}

.shopping-cart-items img {
  float: left;
  margin-right: 12px;
  margin-top: 10px;
}

.item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.item-price {
  color: #2260db;
  margin-right: 8px;
}

.item-quantity {
  margin-right: 10px;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #2260db;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #b313ab;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.button a:hover {
  background: lighten(#ff49e7, 3%);
  color: #ff49e7;
}

.clearfix:after {
  list-style: none;
  content: "";
  display: table;
  clear: both;
}

.cart {
  position: absolute;
  right: 60px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid #2260db;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.cartIcon {
  font-size: 25px;
  color: #b313ab;
}

.cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: #b313ab;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: #2260db;
  text-align: center;
  border-radius: 24px;
}

h1 {
  font-weight: 100;
}
h1 span {
  font-size: 1rem;
}

#infoPelicula {
  margin: 2rem auto;
  width: 100%;
  max-width: 45rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  padding: 2rem;
  margin-top: -2rem;
}
.portada {
  width: 22rem;
  height: 27rem;
  border-radius: 10px;
}
.genero {
  display: inline-block;
  margin-right: 1rem;
}
.pegi {
  display: inline-block;
  margin-right: 1rem;
}
.divInfo {
  width: 100%;
}
#plataforma {
  display: inline-block;
}
#descripcion {
  margin-top: 2rem;
}
#aPrecio {
  display: inline-block;
  text-decoration: line-through;
  color: rgb(172, 25, 25);
  margin-right: 0.5rem;
}
#precio {
  display: inline-block;
}

.btn-danger {
  margin: 1em;
  min-width: 95%;
}

#toast {
  position: relative;
  width: 230px;
  height: 50px;
  left: 80%;
  transform: translate(-50%);
  background-color: #6abe8b;
  color: rgb(250, 250, 250);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 12px;
}
#toast.show {
  visibility: visible;
  animation: fadeInOut 3s;
}

@keyframes fadeInOut {
  5%,
  95% {
    opacity: 1;
    top: 50px;
  }
  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}

.buscar {
  width: 50%;
}

p {
  line-height: 1.3125rem;
}

.divResenias {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
  justify-content: center;
}

.divInsertarResenia {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.divInsertarResenia2 {
  padding: 1rem;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.5rem;
  border: 1px solid #2260db;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  background-color: #91148a;
}
.divInsertarResenia2 textarea {
  width: 100%;
  resize: none;
}

.pMensaje {
  margin-bottom: 1rem;
  margin-top: 0.75rem;
}

.datos {
  color: #4e85f3;
  font-size: 0.875rem;
}

.nombre {
  float: left;
}

.fecha {
  float: right;
}

.divValoracion {
  float: right;
}
a {
  color: #2260db;
}

a:hover {
  color: #b313ab;
}
#insertar {
  margin-top: 2em;
  margin-left: 1em;
}
