body {
  padding-top: 90px;
  background-image: url("../_img/fondo.jpg");
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(12px);
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}
.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59b2e0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 10px;
  text-transform: uppercase;
  border-color: #59b2e6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53a3cd;
  border-color: #53a3cd;
}

.btn-register {
  background-color: #1cb94e;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 10px;
  text-transform: uppercase;
  border-color: #1cb94a;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1ca347;
  border-color: #1ca347;
}

/* SVG */
.path-0 {
  animation: pathAnim-0 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 155.78571428571428,129.14285714285714 311.57142857142856,108.28571428571429 412,117 C 512.4285714285714,125.71428571428571 557.4999999999999,164 673,170 C 788.5000000000001,176 974.4285714285716,149.71428571428572 1114,141 C 1253.5714285714284,132.28571428571428 1346.7857142857142,141.14285714285714 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 147.21428571428572,151.42857142857144 294.42857142857144,152.85714285714286 420,155 C 545.5714285714286,157.14285714285714 649.5,160.00000000000003 752,153 C 854.5,145.99999999999997 955.5714285714284,129.14285714285714 1070,127 C 1184.4285714285716,124.85714285714286 1312.2142857142858,137.42857142857144 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 139.85714285714283,128.35714285714286 279.71428571428567,106.71428571428571 402,105 C 524.2857142857143,103.28571428571429 628.9999999999999,121.5 755,133 C 881.0000000000001,144.5 1028.2857142857144,149.2857142857143 1146,151 C 1263.7142857142856,152.7142857142857 1351.8571428571427,151.35714285714283 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 91.92857142857142,122.96428571428571 183.85714285714283,95.92857142857142 312,116 C 440.14285714285717,136.07142857142858 604.5,203.25000000000003 740,202 C 875.5,200.74999999999997 982.1428571428571,131.07142857142856 1094,111 C 1205.857142857143,90.92857142857143 1322.9285714285716,120.46428571428572 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,150 0,150 C 155.78571428571428,129.14285714285714 311.57142857142856,108.28571428571429 412,117 C 512.4285714285714,125.71428571428571 557.4999999999999,164 673,170 C 788.5000000000001,176 974.4285714285716,149.71428571428572 1114,141 C 1253.5714285714284,132.28571428571428 1346.7857142857142,141.14285714285714 1440,150 C 1440,150 1440,600 1440,600 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 120,270.5357142857143 240,241.07142857142856 353,249 C 466,256.92857142857144 572,302.24999999999994 679,322 C 786,341.75000000000006 894,335.92857142857144 1021,328 C 1148,320.07142857142856 1294,310.0357142857143 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 135.28571428571428,311.8928571428571 270.57142857142856,323.7857142857143 377,315 C 483.42857142857144,306.2142857142857 560.9999999999999,276.75 679,274 C 797.0000000000001,271.25 955.4285714285716,295.2142857142857 1089,304 C 1222.5714285714284,312.7857142857143 1331.2857142857142,306.3928571428571 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 138.71428571428572,307.8571428571429 277.42857142857144,315.7142857142857 382,320 C 486.57142857142856,324.2857142857143 557.0000000000001,325 673,313 C 788.9999999999999,301 950.5714285714287,276.2857142857143 1086,272 C 1221.4285714285713,267.7142857142857 1330.7142857142858,283.8571428571429 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 120.32142857142858,287.5357142857143 240.64285714285717,275.07142857142856 362,280 C 483.35714285714283,284.92857142857144 605.7499999999999,307.25000000000006 727,316 C 848.2500000000001,324.74999999999994 968.3571428571429,319.9285714285714 1087,315 C 1205.642857142857,310.0714285714286 1322.8214285714284,305.03571428571433 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 120,270.5357142857143 240,241.07142857142856 353,249 C 466,256.92857142857144 572,302.24999999999994 679,322 C 786,341.75000000000006 894,335.92857142857144 1021,328 C 1148,320.07142857142856 1294,310.0357142857143 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 114.42857142857144,443.3928571428571 228.8571428571429,436.7857142857143 371,449 C 513.1428571428571,461.2142857142857 683,492.24999999999994 787,498 C 891,503.75000000000006 929.1428571428571,484.21428571428567 1027,472 C 1124.857142857143,459.78571428571433 1282.4285714285716,454.89285714285717 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 97.17857142857142,426.1071428571429 194.35714285714283,402.2142857142857 322,410 C 449.64285714285717,417.7857142857143 607.75,457.25 724,468 C 840.25,478.75 914.6428571428571,460.78571428571433 1027,453 C 1139.357142857143,445.21428571428567 1289.6785714285716,447.60714285714283 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 85.64285714285714,450.5357142857143 171.28571428571428,451.07142857142856 294,436 C 416.7142857142857,420.92857142857144 576.5,390.24999999999994 729,405 C 881.5,419.75000000000006 1026.7142857142858,479.92857142857144 1144,495 C 1261.2857142857142,510.07142857142856 1350.642857142857,480.0357142857143 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 122.10714285714289,479.75 244.21428571428578,509.5 373,494 C 501.7857142857142,478.5 637.2499999999998,417.75 764,398 C 890.7500000000002,378.25 1008.7857142857144,399.5 1120,415 C 1231.2142857142856,430.5 1335.6071428571427,440.25 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 114.42857142857144,443.3928571428571 228.8571428571429,436.7857142857143 371,449 C 513.1428571428571,461.2142857142857 683,492.24999999999994 787,498 C 891,503.75000000000006 929.1428571428571,484.21428571428567 1027,472 C 1124.857142857143,459.78571428571433 1282.4285714285716,454.89285714285717 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
}
