.heart {
  color: red;
  margin-top: 15px;
  margin-left: 230px;
  font-size: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.heart:visited {
  color: #989898;
}

.heart:hover {
  color: #989898;
  background-color: #f9f9f9;
  transition: all 1s ease-in-out;
}

.card-body {
  margin-top: 0;
}

#toast {
  background-color: #b65d5d;
  color: black;
}

.titulo {
  text-align: center;
  color: #bdb9b9;
  border-color: black;
}
